<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>FirstProject</display-name>
  <welcome-file-list>
    <welcome-file>login.html</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
<servlet>
    <description></description>
    <display-name>GetUserDataInitial</display-name>
    <servlet-name>GetUserDataInitial</servlet-name>
    <servlet-class>controls.GetUserDataInitial</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetUserDataInitial</servlet-name>
    <url-pattern>/GetUserDataInitial</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertData</display-name>
    <servlet-name>InsertData</servlet-name>
    <servlet-class>controls.UserInsert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertData</servlet-name>
    <url-pattern>/InsertData</url-pattern>
  </servlet-mapping>
    <servlet>
    <description></description>
    <display-name>GetUserData</display-name>
    <servlet-name>GetUserData</servlet-name>
    <servlet-class>controls.UserRetrieve</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetUserData</servlet-name>
    <url-pattern>/GetUserData</url-pattern>
  </servlet-mapping>
      <servlet>
    <description></description>
    <display-name>LoginUser</display-name>
    <servlet-name>LoginUser</servlet-name>
    <servlet-class>controls.LoginUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginUser</servlet-name>
    <url-pattern>/LoginUser</url-pattern>
  </servlet-mapping>
    <servlet>
    <description></description>
    <display-name>CategoryCourses</display-name>
    <servlet-name>CategoryCourses</servlet-name>
    <servlet-class>controls.CategoryCourses</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoryCourses</servlet-name>
    <url-pattern>/CategoryCourses</url-pattern>
  </servlet-mapping>
     <servlet>
    <description></description>
    <display-name>CategoryCoursesRetrieve</display-name>
    <servlet-name>CategoryCoursesRetrieve</servlet-name>
    <servlet-class>controls.CategoryCoursesRetrieve</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoryCoursesRetrieve</servlet-name>
    <url-pattern>/CategoryCoursesRetrieve</url-pattern>
  </servlet-mapping>
       <servlet>
    <description></description>
    <display-name>StudentData</display-name>
    <servlet-name>StudentData</servlet-name>
    <servlet-class>StudentData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentData</servlet-name>
    <url-pattern>/StudentData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FileUploadServlet</display-name>
    <servlet-name>FileUploadServlet</servlet-name>
    <servlet-class>FileUploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileUploadServlet</servlet-name>
    <url-pattern>/FileUploadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TimeTableRetrieve</display-name>
    <servlet-name>TimeTableRetrievet</servlet-name>
    <servlet-class>TimeTableRetrieve</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TimeTableRetrieve</servlet-name>
    <url-pattern>/TimeTableRetrieve</url-pattern>
  </servlet-mapping>
</web-app>